<div class="row">
    <div class="center-align">
        <h2>Add image</h2>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2 l4 offset-l4 new_image">        
        <form id="save_image" method="post" action="{{ path }}/admin/save_image" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn main_color">
                    <span>File</span>
                    <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
                    <input type="file" name="new_image_file" accept=".jpg, .JPG, .jpeg, .JPEG, .png, .PNG" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="click here to upload your file">
                </div>
            </div>
            <div class="input-field">
                <input placeholder="Image name" id="img_name" type="text" class="validate" name="img_name" required>
                <label for="img_name">Image name</label>
            </div>
            <div class="col s12">
                <div class="col s12 create_evt_error_msg red-text">{{ error_msg }}</div>    
                <button class="btn waves-effect waves-light main_color" type="submit" name="submit">
                    Save image
                </button>
            </div>
        </form>
    </div>
</div>
    