<div class="container valign-wrapper"> 
    <div class="row"> 
        <h4 style="color: rgb(0, 151, 167);">ADMIN NOTIFICATION</h4>
        <h4>New tickets have been booked : </h4>
        <p>For event: {{ event_name }}</p>
        <p>By : {{ first_name }} {{ last_name }}</p>
        <p>Nb of tickets booked: {{ nb_tickets }}</p>
        <p><a style="color: rgb(0, 151, 167); font-weight: bold; text-decoration: none;" href="{{ path }}/{{ events_website }}" >Events website</a></p>
    </div>
</div>
